<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> App Name </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-grid>
    <ion-row>
      <ion-col size="12" class="panel" margin-start margin-end margin-bottom>
        <p
          style="
            margin-bottom: 20px !important;
            text-align: center;
            font-size: x-large;
          "
        >
          RECENTLY ACCESSED
        </p>
        <ion-row
          style="
            background-color: rgb(196, 193, 193);
            height: 10%;
            border: 1px solid black;
          "
        >
          <ion-col class="ion-align-self-center">
            <ion-row class="del"> Time </ion-row>
          </ion-col>
          <ion-col class="ion-align-self-center">
            <ion-row class="del"> User </ion-row>
          </ion-col>
        </ion-row>
        <ion-row *ngFor="let item of gallery" style="border: 1px solid black">
          <ion-col
            class="ion-align-self-center"
            style="border: 1px solid black"
          >
            <ion-row class="del"> {{item.id}} </ion-row>
          </ion-col>
          <ion-col
            class="ion-align-self-center"
            style="border: 1px solid black"
          >
            <ion-row class="del"> {{item.name}} </ion-row>
          </ion-col>
        </ion-row>
      </ion-col>
      <ion-col
        size="12"
        style="text-align: center"
        class="panel"
        margin-start
        margin-end
        margin-bottom
      >
        <p style="margin-bottom: 20px !important; font-size: x-large">USERS</p>
        <ion-row>
          <ion-col
            class="ion-align-self-center"
            style="border: 1px solid black"
          >
            <ion-row class="del"> User </ion-row>
          </ion-col>
          <ion-col
            class="ion-align-self-center"
            style="border: 1px solid black"
          >
            <ion-row class="del"> Delete </ion-row>
          </ion-col>
        </ion-row>
        <ion-row *ngFor="let item of gallery">
          <ion-col class="ion-align-self-center del">
            <ion-row class="del"> {{item.id}} </ion-row>
          </ion-col>
          <ion-col class="ion-align-self-center">
            <ion-row class="del">
              <ion-button (click)="removeUser(item)"> Del </ion-button>
            </ion-row>
          </ion-col> </ion-row
        ><br /><br />
        <ion-row class="del">
          <ion-button (click)="addUser()"> Add User </ion-button>
        </ion-row>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
